################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/B7.Financial.Basics/.vs/B7.Financial.Basics
