################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/B7.Financial.Basics/.vs/B7.Financial.Basics
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/bin/Debug/net9.0/B7.Financial.Basics.ConsoleApp.dll
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/bin/Debug/net9.0/B7.Financial.Basics.ConsoleApp.exe
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/bin/Debug/net9.0/B7.Financial.Basics.ConsoleApp.pdb
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/bin/Debug/net9.0/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/bin/Debug/net9.0/B7.Financial.Basics.Date.pdb
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/ref/B7.Financial.Basics.ConsoleApp.dll
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/refint/B7.Financial.Basics.ConsoleApp.dll
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/apphost.exe
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.AssemblyInfo.cs
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.AssemblyInfoInputs.cache
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.csproj.AssemblyReference.cache
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.csproj.FileListAbsolute.txt
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.dll
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.pdb
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.sourcelink.json
/B7.Financial.Basics/B7.Financial.Basics.Date/bin/Debug/net9.0/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.Date/bin/Debug/net9.0/B7.Financial.Basics.Date.pdb
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/ref/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/refint/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.AssemblyInfo.cs
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.AssemblyInfoInputs.cache
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.csproj.FileListAbsolute.txt
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.pdb
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.sourcelink.json
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_B7.Financial.Basics.Date.Tests
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/B7.Financial.Basics.Date.dll
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/B7.Financial.Basics.Date.pdb
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/B7.Financial.Basics.Date.Tests.dll
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/B7.Financial.Basics.Date.Tests.pdb
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_B7.Financial.Basics.Date.Tests
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/ref/B7.Financial.Basics.Date.Tests.dll
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/refint/B7.Financial.Basics.Date.Tests.dll
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.AssemblyInfo.cs
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.AssemblyInfoInputs.cache
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.csproj.AssemblyReference.cache
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.csproj.CoreCompileInputs.cache
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.csproj.FileListAbsolute.txt
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.dll
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.pdb
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/Debug/net9.0/B7.Financial.Basics.Date.Tests.sourcelink.json
/B7.Financial.Basics/B7.Financial.Abstractions/obj
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.csproj.CoreCompileInputs.cache
/B7.Financial.Basics/.vs/ProjectEvaluation
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/Debug/net9.0/B7.Financial.Basics.ConsoleApp.assets.cache
*.dll
*.pdb
/B7.Financial.Basics/B7.Financial.Basics.ConsoleApp/obj/project.nuget.cache
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/project.nuget.cache
/B7.Financial.Basics/B7.Financial.Basics.Date.Tests/obj/project.nuget.cache
/B7.Financial.Basics/B7.Financial.Basics.Date/obj/Debug/net9.0/B7.Financial.Basics.Date.csproj.AssemblyReference.cache
